
/* Colores */

$colorPrincipal: #FCDA69;
$colorTitulos: #292730;
$colorParrafos: #565656;
$colorTextoBold: #2a2a2a;
$colorSecundario: #8873F0;
$colorTerciario: #FAA6BD;
$colorFondoClaro: #FBFBFB;

/* Titulos */

$tituloH1Escritorio: 3.375rem;
$tituloH2Escritorio: 2.5rem;
$tituloH3Escritorio: 2rem;
$tituloH4Escritorio: 1.563rem;
$tituloH5Escritorio: 1.25rem;

/* Parrafos */

$textoBody: 1.063rem;
$textoInput: 0.938rem;

/* Color de contenedores */

$colorContenedorPrincipal: #FFFFFF;
$colorContenedorSecundario: #FBFBFB;