/* Inicio de Mis habilidades y fortalezas */

.buttons-main {
    width: 100%;
    display: flex;

    .button-content {
        display: flex;
        padding: 0.75rem 1.5rem;
        color: $colorTitulos;
        background-color: $colorPrincipal;
        border-radius: 0.75rem;
        font-size: $textoBoton;
        font-weight: 400;
        margin: 1.5rem 0 0 0;
        text-decoration: none;
    }
}


.body-lead-text span {
    font-size: $textoBodyLead;
    font-weight: 600;
    color: $colorTextoBold;
}

.container__bg {
    background-color: $colorFondoClaro;
    padding: 1.5rem 0;
    margin: 2rem 0 1rem 0;

    .main__container-dk-mb {
        padding: 2rem 2rem;

        .main__info-section {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            align-content: center;
        }

        .small__cards-container-iconsmall {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            margin: 1.5rem auto;
            max-width: 800px;

            .small__card-iconsmall {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                align-content: center;
                width: 8rem;
                height: 8rem;
                border-radius: 12px;
                color: $colorTitulos;
                background-color: $colorContenedorPrincipal;
                box-shadow: 0px 1.3px 3px #9596998a;
                padding: 1rem 0.75rem 1rem;

                .small__card-img-icon {
                    width: 3rem;
                    height: 3rem;
                    margin-bottom: 0.5rem;
                }

                .small__card-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 2.5rem;
                }
            }
        }
    }
}

.education__container {
    padding: 2rem 2rem;

    .education__title {
        margin: 1rem 0 0 0;

    }

    .education__subtitle {
        display: flex;
        margin: 1rem 0 2rem 0;

        .title__university-study {
            padding: 0.5rem 1rem;
        }
    }

    .education__university-container {
        max-width: 1038px;
        margin: 0 auto;

        .education__career-container {
            max-width: 330px;
            margin-bottom: 1.5rem;

            .career__name {
                padding-bottom: 0.5rem;
            }

        }
    }
}