
@import "../utilities/mixins";


.footer {
    margin: 2rem 0 0 0;
    background-color: $colorContenedorTerciario;

    .footer__container {
        padding: 2rem 2rem;

        .footer__socialmedia {
            @include flex(row , wrap , flex-start , center , center);

            & p {
                padding: 1rem 0.5rem 1rem 0;
            }

            .footer__socialmedia-items {
                @include flex(row , wrap , center , center , center);
                margin: 1rem 0.25rem;

                .footer__iconsocialmedia {
                    padding: 0.25rem;
                }
            }
        }

        .footer__copyright {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;

            .footer__img-copyright {
                display: inline-block;
                padding: 0.5rem;
            }
        }
    }
}
