* {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #FFFFFF;
}


/* Estilos para textos */


h1 {
    font-size: $tituloH1;
    font-weight: 700;
    margin: 0;
    padding: 0 0 1.5rem 0;
    color: $colorTitulos;
    width: 100%;
}

h2 {
    font-size: $tituloH2;
    font-weight: 700;
    margin: 0;
    color: $colorTitulos;
    padding-bottom: 1.5rem;
    width: 100%;
}

h3 {
    font-size: $tituloH3;
    font-weight: 300;
    margin: 0;
    color: $colorTitulos;
    width: 100%;
}

h4 {
    font-size: $tituloH4;
    font-weight: 700;
    margin: 0;
    color: $colorTitulos;
    padding-bottom: 1rem;
}

h5 {
    font-size: $tituloH5;
    font-weight: 600;
    color: $colorTitulos;
    margin: 0;
}

p {
    margin: 0;
    color: $colorParrafos;
}

.body-lead-text {
    font-size: $textoBodyLead;
    font-weight: 400;
    margin: 0;
    line-height: 1.438rem;
    color: $colorParrafos;
    padding: 0 0 1rem 0;

    .body-lead-text span {
        font-size: $textoBodyLead;
        font-weight: 600;
        color: $colorTextoBold;
    }
}

.body-lead-text-card {
    font-size: $textoInput;
    font-weight: 300;
    margin: 0;
    line-height: 1.125rem;
    color: $colorParrafos;
}

.body-paragraph-input {
    font-size: $textoBody;
    font-weight: 400;
    margin: 0;
    line-height: 1.375rem;
}

.lead__text-cards {
    font-size: $textoBody;
    font-weight: 400;
    margin: 0;
    line-height: 1.438rem;
    color: $colorParrafos;
    padding: 0 0 0.5rem 0;

    .body-lead-cards span {
        font-weight: 600;
        color: $colorTextoBold;
    }
}



