/* Inicio del cuerpo contenido */

@import "../utilities/mixins";


.main__content {
    margin: 2rem 0;

    .container__inicial {
        padding: 2rem 2rem;

        .img__person-exp {
            @include img-principal(420px , 390px );
        }

        .main__info-exp {
            @include flex(row , wrap , flex-start , center , center);
            height: 100%;
            padding: 0 2rem 0 1rem;
        }
    }

    /* Cards de proyectos */

    .cards-container {
        @include flex(row , wrap , center , center , center);
        padding: 1rem;
        margin: 2rem auto;
        max-width: 87.5rem;
        
        .regular__cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
            grid-auto-rows: minmax(392px, 443px);
            gap: 1rem;
            row-gap: 1.5rem;
            max-width: 100%;

            .regular__card {

                @include flex(row , wrap , center , center , space-between);
                text-align: center;
                max-width: 370px;
                max-height: 443px;
                border-radius: 8px;
                color: $colorTitulos;
                background-color: $colorContenedorPrincipal;
                box-shadow: 0px 1.3px 3px #9596998a;
                overflow: hidden;
                transition: all 0.25s;
                padding: 0 0 0.5rem 0;

                &:hover {
                    transform: translateY(-4px);
                    box-shadow: 0px 8px 12px #95969948;
                }

                .regular__card-img {
                    width: 370px;
                    height: 224px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    object-fit: cover;
                    border-radius: 8px;
                    margin-bottom: 0.5rem;
                }

                .regular__card-title {
                    font-size: $tituloH5;
                    font-weight: 700;
                    color: $colorTitulos;
                    margin: 0;
                    text-align: center;
                    width: 100%;
                    padding: 0 1rem 0.5rem 1rem;
                }

                .regular__card-text {
                    font-size: $textoBody;
                    font-weight: 400;
                    line-height: 1.3rem;
                    color: $colorParrafos;
                    text-align: center;
                    width: 100%;
                    margin: 0 1rem 0.5rem 1rem;
                }

                .buttons {
                    width: 100%;
                    margin: 1rem;

                    .button__card {
                        color: $colorTitulos;
                        background-color: $colorPrincipal;
                        border-radius: 0.5rem;
                        font-size: $textoBoton;
                        font-weight: 400;
                        text-decoration: none;
                        padding: 0.8rem 5.5rem;
                    }

                }
            }
        }
    }
}

