@media (max-width:767px) {

    h1 {
        display: flex;
        justify-content: center;
        padding: 0 0 1rem 0;
        line-height: 0rem;
        font-size: $tituloH1Mobile;
        color: $colorTitulos ;
        font-weight: 700;
        margin: 0;
        text-align: center;
    }

    h2 {
        display: flex;
        padding: 0 0 1rem 0;
        font-size: $tituloH2Mobile;
        color: $colorTitulos;
        font-weight: 700;
        margin: 0;
    }

    h3 {
        display: flex;
        justify-content: center;
        padding: 1rem 0 1.5rem 0;
        line-height: 2.25rem;
        font-size: $tituloH3Mobile;
        color: $colorTitulos ;
        font-weight: 300;
    }


    h4 {
        display: flex;
        padding: 0 0 1rem 0;
        font-size: $tituloH4Mobile;
        color: $ColorSecundarioTitulos;
        font-weight: 600;
    }

    .body-lead-text {
        font-size: $textoBodyLeadMobile;
        font-weight: 400;
        margin: 0;
        line-height: 1.438rem;
        color: $colorParrafos;
        padding: 0 0 1rem 0;

        & span {
            font-size: $textoBodyLeadMobile;
            font-weight: 600;
            color: $colorParrafos;
        }
    }

    .body-lead-text-card {
        font-size: $textoBodyLeadMobile;
        font-weight: 400;
        margin: 0;
        line-height: 1.438rem;
        color: $colorParrafos;
    }

    .body-paragraph-input {
        font-size: $textoInputMobile;
        color: $colorParrafos;
        font-weight: 400;
        margin: 0;
        line-height: 1.375rem;
    }

    header {
        position: sticky;
        box-shadow: 0 1px 0px #72727238;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: $colorContenedorPrincipal;

        .navbar-expand-md {
            display: flex;
            align-items: center;
            background-color: $colorContenedorPrincipal;

            .navbar-nav {
                position: top;
                display: flex;
                padding: 1rem 0rem;
                font-size: $tituloH5Mobile ;
                font-weight: 300;
            }
        }
    }


    .main__content {
        margin: 0.5rem 0;

        .main__container-mobile {
            padding: 0.5rem 1rem 0rem 1rem;

            .main__imgpersonal {
                display: flex;
                flex-wrap: wrap;
                height: 100%;
                justify-content: center;

                .img_person {
                    max-width: 312px;
                    max-height: 284px;
                }
            }
        }

        .container__inicial {
            padding: 0.5rem 1rem 0rem 1rem;

            .main__imgpersonal {
                display: flex;
                flex-wrap: wrap;
                height: 100%;
                justify-content: center;

                .img__person-exp {
                    max-width: 350px;
                    max-height: 320px;
                }
            }
        }


        .cards-container {

            .regular__cards-container {

                .regular__card {

                    .regular__card-title {
                        display: flex;
                        font-size: $tituloH4Mobile;
                        color: $colorTitulos;
                        font-weight: 700;
                        margin: 0;
                        text-align: center;
                        width: 100%;
                        padding: 0 1rem 0.5rem 1rem;
                        justify-content: center;
                    }

                    .regular__card-text {
                        font-size: $textoBody;
                        font-weight: 400;
                        line-height: 1.3rem;
                        color: $colorParrafos;
                        text-align: center;
                        width: 100%;
                        margin: 0 1rem 0.5rem 1rem;
                    }

                }
            }

        }
    }

    .main__content-form {
        margin: 0rem;
    }

    .footer {

        .footer__container {

            .footer__socialmedia {
                @include flex(column, wrap, center, center, center);
                text-align: center;

                & p {
                    padding: 1rem 0;
                }

                .footer__socialmedia-items {
                    @include flex(row, nowrap, center, center, center);
                    margin: 0rem 0.25rem 1rem 0.25rem;

                    .footer__iconsocialmedia {
                        padding: 0.25rem;
                    }
                }
            }

            .footer__copyright {
                @include flex(row, wrap, center, center, center);

                .footer__img-copyright {
                    display: inline-block;
                    padding: 0.5rem;
                }
            }

        }

    }


    .main__container-dk-mb {
        padding: 0.5rem 1rem 0rem 1rem;
    }

    .timeline__content {

        .timeline__container {
            padding: 2rem 0.5rem 1rem 0.5rem;

            .timeline__container-jobs {
                display: grid;
                grid-template-columns: 2rem 1fr;
                margin: auto;
                margin-top: 1.5rem;
                margin-bottom: 1rem;

                .timeline__jobs-bg {
                    padding: 0rem 0.5rem 2.5rem 0.75rem;
                }

                .timeline__jobs-bg-end {
                    padding: 0rem 0.5rem 1rem 0.75rem;
                }
            }
        }
    }

}