@media screen and (min-width:768px) and (max-width:850px) {

    header {
        height: 88px;
        position: sticky;
        top: 0;
        box-shadow: 0 1px 0px #72727238;
        display: flex;
        align-items: center;
        background-color: $colorContenedorPrincipal;

        .navbar {

            .navbar-brand {
                margin: 0 1rem;
            }
    
            .navbar-nav {
                border-color: #3f3f3fb7;
                border-style: solid;
                border-radius: 2rem;
                border-width: 1px;
                padding: 0 1rem;
                font-size: $textoBoton;
                font-weight: 300;
    
                .nav-link {
                    color: $colorTextoBold;
                    padding: 0.25rem 1rem !important;
                    margin: 0.5rem 0rem;
                    border-radius: 2rem;
                }
    
                .navbar__press-on {
                    background-color: $colorSecundario;
                    border-radius: 2rem;
                    color: $ColorBlanco;
                    font-weight: 600;
                }
    
                .navbar__press-off:hover {
                    font-weight: 300;
                    border-radius: 2rem;
                    color: $colorSecundario;
                }
            }
        }
    } 
}